@using BlazorControlCefa.Application.Wrappers
<nav arial-label="Page navigation example">
    <ul class="pagination">
        @foreach (var link in _links)
        {
            <li @onclick="()=> OnSelectedPage(link)" style="cursor: pointer;"
            class="page-item @(link.Enabled ? null : "disabled") @(link.Active ? "active": null)">
                <span class="page-link" href="#">@link.Text</span>
            </li>
        }
    </ul>
</nav>

@code {
    [Parameter]
    public MetaData MetaData { get; set; }

    [Parameter]
    public int Spread { get; set; }

    [Parameter]
    public EventCallback<int> SelectedPage { get; set; }

    private List<PagingLink> _links;

    protected override void OnParametersSet()
    {
        CreatePaginationLinks();
    }

    private void CreatePaginationLinks()
    {
        _links = new List<PagingLink>();
        _links.Add(new PagingLink(MetaData.PageNumber - 1, MetaData.HasPrevious, "Anterior"));
        for (int i = 1; i <= MetaData.TotalPages; i++)
        {
            if (i >= MetaData.PageNumber - Spread && i <= MetaData.PageNumber + Spread)
            {
                _links.Add(new PagingLink(i, true, i.ToString()) { Active = MetaData.PageNumber == i });
            }
        }
        _links.Add(new PagingLink(MetaData.PageNumber + 1, MetaData.HasNext, "Siguiente"));
    }

    private async Task OnSelectedPage(PagingLink link)
    {
        if (link.Page == MetaData.PageNumber || !link.Enabled)
            return;
        MetaData.PageNumber = link.Page;
        await SelectedPage.InvokeAsync(link.Page);
    }
}
